# Ignore version control files:
.git/
.gitignore

# Ignore docker and environment files:
Dockerfile
docker-compose.yml
*.env
dev-entrypoint.sh
.dockerignore

# Ignore log files:
log/*.log

# Ignore temporary files:
tmp/

# Ignore test files:
.rspec
Guardfile
spec/

# Ignore database dumps:
db/dumps

# Ignore bash / IRB / Byebug history files
.bash_history
.byebug_hist
.pry_history
.guard_history
