# Ignore version control files:
.git/
.gitignore

# Ignore docker and environment files:
Dockerfile
docker-compose.yml
*.env
development-forecasts-entrypoint
development-entrypoint
.dockerignore

# Ignore log files:
log/*.log

# Ignore temporary files:
tmp/

# Ignore test files:
.rspec
Guardfile
spec/

# Ignore OS artifacts:
.DS_Store

# Ignore database dumps:
db/dumps

.rspec

# Ignore bash / IRB / Byebug history files
.bash_history
.byebug_hist
.pry_history
.guard_history

# Ignore the examples folder:
examples/

# Ignore the deployment folder:
deploy/
