<div class="title">
  <img src="/assets/images/thermometer.png" class="icon-thermometer" />
  <span class="temperature value">{{ formatted-temperature measurement.temperature coalesceWith=(t 'values.null') }}</span>
</div>
<div class="label">{{ t "indicators.temperature.label" }}</div>
