<article class="item half">
  <div class="title">
    <img src="/assets/images/wind.png" class="icon" />
    <span class="wind-speed value">{{ valueOrDash measurement.windSpeed }}</span>
  </div>
  <div class="label">{{ t "indicators.wind.label" }}</div>
  {{yield}}
</article>
